:root {
  --clr-primary-500: hsl(10, 79%, 65%);
  --clr-secondary-500: hsl(186, 34%, 60%);
  --clr-neutral-800: hsl(25, 47%, 15%);
  --clr-neutral-700: hsl(28, 10%, 53%);
  --clr-neutral-300: hsl(27, 66%, 92%);
  --clr-neutral-200: hsl(33, 100%, 98%);

  --ff-normal: "DM Sans", sans-serif;

  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;

  --sizes-100: 0.25rem;
  --sizes-200: 0.5rem;
  --sizes-300: 0.75rem;
  --sizes-400: 1rem;
  --sizes-500: 1.5rem;

  --on-top: 9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-weight: 400;
  line-height: 1.1;
}
body {
  min-height: 100vh;
  background: var(--clr-neutral-300);
  display: grid;
  place-items: center;
  font-family: var(--ff-normal);
}

#app {
  width: 100%;
}
